html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/*typography*/

h1, h2, h3{
    text-align: center;
}

h1, h2{
    color: #CEABB1;
    margin: 0;
}

h1{
    font-size: 28px;
}

h2 {
    font-size: 16px;
}

h3{
    margin: 25px;
}

/* layout */

header{
    background-color: #2B061E;
}

.header-inner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 370px;
    gap: 15px;
    padding: 10px 0 0 0;
}

.pumpkin-img{
    width: 80px;
}

.controls-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px auto;
}

/* controls */

.emotion-radios{
    display: flex;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
}

.radio{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bcbcbc;
    padding: 4px 8px;
}

.radio:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.radio:last-child{
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label{
    font-size: 14px;
    padding: 3px;
    width: 100%;
    cursor: pointer;
}

.highlight{
    background-color: #fff0ee;
    color: #bd301d;
    font-weight: bold;
    accent-color: #bd301d;
}

input[type="radio"]{
    cursor: pointer;
}

.gifs-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.gifs-check-label{
    width: unset;
    margin-right: 5px;
}

.get-image-btn{
    background-color: #81667A;
    color: #eed6d3;
    padding: 15px 19px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
}

/* modal */

.meme-modal{
    display: none; /*flex when displayed*/
    position: fixed;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;

    border: 1px solid #67595e;
    border-radius: 5px;

    width: fit-content;
    /* width: auto; */
    max-width: 600px;
    height: fit-content;

    background-color: #fff0ee;

}

#meme-modal-inner{
    display: flex;
    gap: 10px;
    width: auto;
    height: 250px;
    margin: 50px 15px 15px 15px;
    
}

.cat-img{
    display: flow-root;
    flex: 1;
    /* width: 100%; */
    /* height: auto; */
    border-radius: 5px;
    aspect-ratio: 1 / 1; /* square cards (change if needed). Only works if height is NOT auto */
    object-fit: cover; /* crop instead of stretch */
}

.meme-modal-close-btn{
    color: #555;
    background-color: transparent;

    border: 2px solid #555;
    border-radius: 50%;

    position: absolute; /* Absolutely positioned elements do NOT participate in layout flow. So gap, flex & align-items won't affect this button */
    top: 5%;
    right: 2%;
    padding: 2.5px 6px;

    font-size: 14px;
}

.meme-modal-close-btn:hover{
    color: white;
    background-color: #bd301d;
    border: 2px solid #bd301d;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* overlay blur effect */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* Safari */
}

.hidden{
    display: none;
}